.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.4rem;
  padding: 2.8rem 4.8rem;
  z-index: 100;
}

.headerFloating {
  background-color: #dcf8c6;
}

.navImage {
  width: 15rem;
  height: auto;
}

/* PC */
@media (min-width: 720px) {

  .roundedButton,
  .menuItems,
  .navItemsTablet,
  .menuItemCelular {
    display: none;
  }

  .navItems {
    display: flex;
    gap: 1.4rem;
  }

  .navItemDestaque {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: #25d366;
    color: #fff;
    font-size: small;
    border: none;
  }

  .navItemDestaque svg {
    margin-right: 0.4rem;
  }

  .navItem {
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: transparent;
    color: #25d366;
    font-size: small;
    border: none;
  }


  .navItemActive {
    padding: 0.4rem 1.6rem;
    border-bottom: 2px solid #25d366;
    background-color: transparent;
    color: #25d366;
    font-size: small;
    font-weight: bold;
  }

  .navItemDestaque:hover {
    filter: brightness(1.3);
  }

  .navItem:hover,
  .navItemActive:hover {
    filter: brightness(0.8);
  }
}

/* Tablet */
@media (min-width: 320px) and (max-width: 720px) {
  .container {
    display: flex;
    position: relative;
  }

  .roundedButton {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: #25d366;
    color: #fff;
    font-size: small;
    transition: 0.3s;
  }

  .roundedButton:hover {
    filter: brightness(1.3);
  }

  .menuItems {
    position: absolute;
    top: 3rem;
    right: 3rem;

    width: 20rem;

    display: flex;
    flex-direction: column;

    justify-content: center;

    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .menuItem {
    border-radius: 0.8rem;
    background-color: #fff;
    cursor: pointer;
    padding: 1.4rem;
    transition: 0.3s;
    color: #25d366;
    display: flex;
    align-items: center;
    border: none;
  }

  .menuItem svg {
    margin-right: 0.8rem;
    fill: #25d366;
  }

  .menuItem:hover {
    filter: brightness(0.9);
  }

  .navItems,
  .menuItemCelular {
    display: none;
  }

  .navItemsTablet {
    display: flex;
    gap: 1.4rem;
    margin: 0 1.4rem;
  }

  .menuItemTablet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: #25d366;
    color: #fff;
    font-size: small;
  }

  .menuItemTablet svg {
    margin-right: 0.4rem;
  }

  .navItemDestaque {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: #25d366;
    color: #fff;
    font-size: small;
    border: none;
  }

  .navItemDestaque svg {
    margin-right: 0.4rem;
  }

  .navItem {
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: #fff;
    color: #25d366;
    font-size: small;
  }

  .navItemDestaque:hover {
    filter: brightness(1.3);
  }

  .navItem:hover {
    filter: brightness(0.8);
  }
}

/* Celular */
@media (max-width: 320px) {
  .container {
    display: flex;
    position: relative;
  }

  .roundedButton {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.6rem;
    border-radius: 1.6rem;
    background-color: #25d366;
    color: #fff;
    font-size: small;
    transition: 0.3s;
  }

  .roundedButton:hover {
    filter: brightness(1.3);
  }

  .menuItems {
    position: absolute;
    top: 3rem;
    right: 3rem;

    width: 20rem;

    display: flex;
    flex-direction: column;

    justify-content: center;

    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .menuItem,
  .menuItemCelular {
    border-radius: 0.8rem;
    background-color: #fff;
    cursor: pointer;
    padding: 1.4rem;
    transition: 0.3s;
    color: #25d366;
    display: flex;
    align-items: center;
  }

  .menuItem svg,
  .menuItemCelular svg {
    margin-right: 0.8rem;
    fill: #25d366;
  }

  .menuItem:hover .menuItemCelular:hover {
    filter: brightness(0.9);
  }

  .navItems,
  .navItemsTablet,
  .menuItemTablet {
    display: none;
  }

  .navItemDestaque:hover {
    filter: brightness(1.3);
  }
}