.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  overflow: hidden;
  z-index: 150;
}

.modal {
  width: 90vw;
  height: 90vh;
  background-color: #fff;
  border-radius: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 2.4rem;
}

.closeButton {
  position: absolute;
  background-color: #00000079;
  color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  top: 1.4rem;
  left: 1.4rem;
}