.container{
  width: 100%;
  height: auto;
}

.container label{
  color: #128c7e;
  font-weight: 600;
  margin: 0.8rem 0;
}

.container select{
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
  margin: 0.4rem 0;
  border: 1px solid #128c7e;
}

.container select::placeholder{  
  color: #0000004D;
}

.container select:disabled{
  background-color: #F3F5FF;
  border: 1px solid #0000004D;
  color: #0000004D;
  font-weight: 500;
  cursor: no-drop;
}
