.container{
  width: 100%;
  height: auto;
}

.container label{
  color: #128c7e;
  font-weight: medium;
  margin: 0.8rem 0;
}

.container textarea{
  resize: none; 
  overflow: auto;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
  border: none;
  margin: 0.4rem 0;
}

.container textarea::placeholder{  
  color: #0000004D;
}

.container textarea:disabled{
  background-color: #F3F5FF;
  border: 1px solid #0000004D;
  color: #0000004D;
  font-weight: 500;
}
