/* PC */
@media (min-width: 720px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcf8c6;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  .content img {
    width: 100%;
    margin-bottom: 6rem;
  }

  .content h1 {
    font-size: 15rem;
  }
}

/* Tablet */
@media (min-width: 320px) and (max-width: 720px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcf8c6;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  .content img {
    margin-bottom: 6rem;
  }

  .content h1 {
    font-size: 15rem;
  }
}

/* Celular */
@media (max-width: 320px) {

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcf8c6;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  .content img {
    width: 90%;
    margin-bottom: 6rem;
  }

  .content h1 {
    font-size: 10rem;
  }
}